/* <div id="music-box" class="">
      <div class="img"></div>
      <div class="music-inf"></div>
      <div class="control-buttons"></div>
      <div class="music-list">
        <div class="dropdown-list"></div>
        <div class="sound-control"></div>
      </div>
    </div> */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  #music-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    border: solid 1px rgb(189, 186, 186);
    border-radius: 5px;
    .img-div{
        .music-img{
            width: 550px;
            border-bottom: 0;
            border-radius: 5px;
        }
    }
    .music-inf {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .control-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 15px;
      height: 100%;
      width: 100%;
      border-top: solid 1px rgb(189, 186, 186);
      border-bottom: solid 1px rgb(189, 186, 186);
      flex: 0;
      .minute-show{}
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .btn-prev {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        #btnPlay {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .btn-next {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
      }
    }
    .music-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
        .volume-div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 15px;
        }
      .dropdown-list {
      }
      .sound-control {
      }
      .btn-collapse{
        margin-left: 10px;
      }
    }
  }
  .collapse, .collapsing{
    
    .card{
      padding: 0;
      width: 550px;
      .parent-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.active{
          background-color: rgb(100, 172, 172);
        }
        cursor: pointer;
        padding: 7px 10px;
        &:hover{
          background-color: rgb(25, 145, 214);
        }
      .song-singer{

      }
      .song-time{

      }
      }
    }
  }
}
